mixin nav(className, items)
    nav(class=`${className}`)
        ul(class=`${className}__list`)
            each item in items
                li(class=`${className}__item` + ( (activeClass === item.name) ? ` ${className}__item_active` : '') )
                    a(class=`${className}__link` href=`${item.link}`)= item.name
